<p>блок закешированный на 600с</p>
<p>{{ 'now'|date('d/m/Y H:i') }}</p>

<p>Использование ESI (Edge Side Includes)</p>

<p>Кэширующие шлюзы - это отличный способ сделать ваш сайт более производительным.</p>
<p>Но они также имеют и одно ограничение: они могут кэшировать лишь страницы целиком.</p>
<p>Если вы по каким-то причинам не можете кэшировать страницы целиком или в случае когда</p>
<p>страница имеет несколько динамических частей, вы вышли из зоны удачи. К счастью, Symfony2</p>
<p>предоставляет решение для этих случаев, основанное на технологии ESI, или Edge Side Includes.</p>
<p>Компания Akamaï создала эту спецификацию почти 10 лет назад, и она позволяет иметь для отдельных</p>
<p>частей страницы различные стратегии кэширования.</p>

{% render 'VarnishFrontendBundle:Main:newsView' with {}, {'standalone': true} %}