<p>блок закешированный на 60с</p>
<p>{{ 'now'|date('d/m/Y H:i') }}</p>

<p>При обработке запроса, кэширующий шлюз получает страницу целиком из своего кэша или же запрашивает его у приложения.</p>
<p>Если ответ содержит один или более ESI тагов, они обрабатываются тем же образом.</p>
<p>Другими словами, кэширущий шлюз получает включённые фрагменты страниц из своего кэша, либо запрашивает эти фрагменты у приложения.</p>
<p>Когда все ESI таги обработаны, шлюз включает все фрагменты в основную страницу и отправляет итоговый контент клиенту.</p>
